In [31]:
import pandas as pd

data={
    'Name':['Alice','Bob','Charlie','David','Eva'],
    'Age':[23,35,45,36,28],
    'City':['New York','Los Angeles','Chicago','Houston','Phoenix']
}
df=pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   23     New York
1      Bob   35  Los Angeles
2  Charlie   45      Chicago
3    David   36      Houston
4      Eva   28      Phoenix

In [6]:
row_select=df.iloc[2]
print(row_select)

Name    Charlie
Age          45
City    Chicago
Name: 2, dtype: object

In [33]:
#age_select=df.iloc[:,1]
#print(age_select)

df.iloc[:,1]

0    23
1    35
2    45
3    36
4    28
Name: Age, dtype: int64

In [10]:
first_three_rows=df.iloc[:3]
print(first_three_rows)

      Name  Age         City
0    Alice   23     New York
1      Bob   35  Los Angeles
2  Charlie   45      Chicago

In [11]:
name_city=df.iloc[:3, [0, 2]]
print(name_city)

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago

In [13]:
charlie_row=df.loc[df['Name']=='Charlie']
print(charlie_row)

      Name  Age     City
2  Charlie   45  Chicago

In [14]:
selected_age_column=df.loc[:,'Age']
print(selected_age_column)

0    23
1    35
2    45
3    36
4    28
Name: Age, dtype: int64

In [15]:
selected_cities=df.loc[df['Name'].isin(['Bob','Eva']),'City']
print(selected_cities)

1    Los Angeles
4        Phoenix
Name: City, dtype: object

In [16]:
selected_rows=df.loc[df['Age']>30]
print(selected_rows)

      Name  Age         City
1      Bob   35  Los Angeles
2  Charlie   45      Chicago
3    David   36      Houston

In [17]:
selected_rows=df.loc[df['City'].isin(['Chicago','Houston'])]
print(selected_rows)

      Name  Age     City
2  Charlie   45  Chicago
3    David   36  Houston

In [18]:
df.set_index('Name',inplace=True)
selected_row=df.loc['David']
print(selected_row)

Age          36
City    Houston
Name: David, dtype: object

In [34]:
df.set_index('Name',inplace=True)
selected_data=df.loc[['Bob','Eva'],['Age','City']]
print(selected_data)

      Age         City
Name
Bob    35  Los Angeles
Eva    28      Phoenix

In [23]:
data={
'Product':['Apple','Banana','Carrot','Doughnut','Egg'],
'Price':[0.5, 0.3, 0.4, 1.0, 0.2],
'In Stock':[True,True,False,True,False]
}
df_new=pd.DataFrame(data)
print(df_new)

    Product  Price  In Stock
0     Apple    0.5      True
1    Banana    0.3      True
2    Carrot    0.4     False
3  Doughnut    1.0      True
4       Egg    0.2     False

In [26]:
in_stock_products=df_new.loc[df_new['In Stock']]
print(in_stock_products)

    Product  Price  In Stock
0     Apple    0.5      True
1    Banana    0.3      True
3  Doughnut    1.0      True

In [27]:
df_new.loc[df_new['Product']=='Doughnut','Price'] = 1.2
print(df_new)

    Product  Price  In Stock
0     Apple    0.5      True
1    Banana    0.3      True
2    Carrot    0.4     False
3  Doughnut    1.2      True
4       Egg    0.2     False

In [28]:
selected_products=df_new.loc[df_new['Price']<0.5]
print(selected_products)

  Product  Price  In Stock
1  Banana    0.3      True
2  Carrot    0.4     False
4     Egg    0.2     False

In [29]:
not_in_stock_data=df_new.loc[~df_new['In Stock'],['Product','Price']]
print(not_in_stock_data)

  Product  Price
2  Carrot    0.4
4     Egg    0.2