In [18]:
data1 = {
    'StudentID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David']
}
df1 = pd.DataFrame(data1)
data2 = {
    'StudentID': [3, 4, 5, 6],
    'Grade': ['A', 'B', 'C', 'D']
}
df2 = pd.DataFrame(data2)

inner_merged_df = pd.merge(df1, df2, on='StudentID', how='inner')
outer_merged_df = pd.merge(df1, df2, on='StudentID', how='outer')
left_merged_df = pd.merge(df1, df2, on='StudentID', how='left')
right_merged_df = pd.merge(df1, df2, on='StudentID', how='right')

print("INNER MERGE")
print(inner_merged_df)
print()
print("OUTER MERGE")
print(outer_merged_df)
print()
print("LEFT MERGE")
print(left_merged_df)
print()
print("RIGHT MERGE")
print(right_merged_df)

INNER MERGE
   StudentID     Name Grade
0          3  Charlie     A
1          4    David     B

OUTER MERGE
   StudentID     Name Grade
0          1    Alice   NaN
1          2      Bob   NaN
2          3  Charlie     A
3          4    David     B
4          5      NaN     C
5          6      NaN     D

LEFT MERGE
   StudentID     Name Grade
0          1    Alice   NaN
1          2      Bob   NaN
2          3  Charlie     A
3          4    David     B

RIGHT MERGE
   StudentID     Name Grade
0          3  Charlie     A
1          4    David     B
2          5      NaN     C
3          6      NaN     D

In [20]:
import pandas as pd

data = {
    'Salesperson': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
    'Product': ['Widget', 'Widget', 'Gadget', 'Gadget', 'Widget', 'Gadget'],
    'Quantity': [4, 2, 3, 5, 6, 1]
}
df = pd.DataFrame(data)
grouped_data0 = df.groupby('Salesperson')['Quantity'].sum().reset_index()
print(grouped_data0)
grouped_data1 = df.groupby('Product')['Quantity'].mean().reset_index()
print(grouped_data1)

  Salesperson  Quantity
0       Alice         9
1         Bob         8
2     Charlie         4
  Product  Quantity
0  Gadget       3.0
1  Widget       4.0